.container {
}

.Background {
  background-image: url("../images\abstract-space-atom-design-t2veobsvg7rdjqfh.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0%;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  /* filter: blur(2px); */
  filter: brightness(70%);
  z-index: -1;
}

.topicMyName {
  font-family: "Great Journal Three", sans-serif;
  position: sticky;
  font-size: 200%;
  padding: 0%;
  margin: 10px;
  border: 0;
  align-content: center;
  text-align: center;
  color: rgb(228, 253, 3);
}

.topicMyProfession {
  font-family: "Great Journal four", sans-serif;
  position: sticky;
  font-size: 150%;
  padding: 0%;
  margin-top: -90px;
  border: 0;
  align-content: center;
  text-align: center;
  color: rgb(228, 253, 3);
}

.personalDetailsContainer {
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
  background-color: rgb(228 228 228 / 15%); 
  /* opacity: 0.7; */
  width: 45%;
  height: 200px;
  border-radius: 10px;
  border-style: groove;
  border-color: white;

}

.detailsTopic {
  font-family: "Great Journal four", sans-serif;
  color: rgb(255, 251, 0);
  font-size: 200%;
  text-decoration: underline;
  padding: 5px;
  margin: 0;
  

}

.detailsContent {
  font-family: "Great Journal four", sans-serif;
  color: rgb(0, 225, 255);
  font-size: 200%;
  padding: 5px;
  margin: 0;
}
