
body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: rgb(95, 117, 117);
}

body::-webkit-scrollbar-thumb {
  background: #06d6a0;
}

.Background {
  background-image: url("../images/ales-nesetril-Im7lZjxeLhg-unsplash (1).jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0%;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* filter: blur(1px); */

}

.socialNetworksContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 1%;
  position: sticky;
  top: 0;

}




.socialNetworks {
  color: black;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  align-items: center;
  justify-content: center;;
  display: flex;
  gap: 8%;
  border: solid;
  border-radius: 20px;
  border-width: 3px;
  border-color: #06d6a0;
  padding: auto;
  width: 200px;
  text-decoration: none;

  &:hover {
    background-color: rgb(0, 204, 255);
    cursor: pointer;
    font-weight: bolder;
  }
}

.highTopicsAndPicture {
  height: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  text-wrap: nowrap;
  gap: 2%;
}


.topicMyNameAndProfession {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: xxx-large;
  padding: 1%;
  color: #06d6a0;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-style: italic;
}

.topic {
  margin: 0;
}



.pictureAndInfoContainer {
  display: flex;
  flex-direction: row;
  max-width: 450px;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  text-align: center;
  
}

.myPictureContainer {
  border-radius: 50%;
  /* margin-top: 200px; */
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  transition: all 250ms;
}

.myPictureContainer:hover {
  border-radius: 5px;
  scale: 1.2;
}

.selfInfo {
  border: solid;
  border-radius: 6px;
  border-style: groove;
  border-color: #ffffff;
  color: #06d6a0;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  backdrop-filter: blur(3px); 
  /* box-shadow: 5px 5px 5px white; */
  
}

.personalDetailsContainer {
  backdrop-filter: blur(3px); 
  box-shadow: unset;
  background-color: rgb(228 228 228 / 1%);
  max-width: 33%;
  height: auto;
  border-radius: 0;
  border-style: groove;
  border-color: transparent;
  border-width: 1px;
  margin-bottom: 50px;
  margin-top: 150px;
  transition: all 250ms;

  &:has(input:checked) {
    border-color: white;
    border-radius: 10px;
  }

  &:has(input:checked), &:hover {
    /* box-shadow: 1px 0 5px rgba(255,255,255,.3); */
    box-shadow: 0px 10px 10px rgba(255,255,255,.3);
    /* box-shadow: 5px 5px 15px white; */
  }
}

.about-me-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 250ms ease-in-out;

  & > div {
    overflow: hidden;
  }
}

.personalDetailsContainer > input#about-me-checkbox:checked ~ .about-me-content {
  grid-template-rows: 1fr;
}

.personalDetailsContainer > input#about-me-checkbox:checked ~ .detailsTopic > label > span {
  display: inline-block;
  rotate: 90deg;
  transition: all 250ms;
}

.detailsTopic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #06d6a0;
  font-size: 200%;
  text-decoration: underline;
  padding: 7px;
  user-select: none;
  cursor: pointer;
  margin: 0;
  & > label > span {
    rotate: 0deg;
    transition: all 250ms;
  }



}

.detailsContent {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 100%;
  padding: 5px;
  margin: 0;
  
}

.jobsContainer {
  backdrop-filter: blur(3px); /* Chrome and Opera */
  box-shadow: unset;
  background-color: rgb(228 228 228 / 1%);
  max-width: 33%;
  height: auto;
  border-radius: 0;
  border-style: groove;
  border-color: transparent;
  margin-bottom: 50px;

  &:has(input:checked) {
    border-color: white;
    border-radius: 10px;
  }

  &:has(input:checked), &:hover {
    /* box-shadow: 1px 0 5px rgba(255,255,255,.3); */
    box-shadow: 0 10px 10px rgba(255,255,255,.3);
    /* box-shadow: 5px 5px 15px white; */
  }
}

.jobs-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 250ms ease-in-out;

  & > div {
    overflow: hidden;
  }
}

.jobsContainer > input#jobs-checkbox:checked ~ .jobs-content {
  grid-template-rows: 1fr;
}

.jobsContainer > input#jobs-checkbox:checked ~ .detailsTopic > label > span {
  display: inline-block;
  rotate: 90deg;
  transition: all 250ms;
}

.coursesContainer {
  backdrop-filter: blur(3px); /* Chrome and Opera */
  box-shadow: unset;
  background-color: rgb(228 228 228 / 1%);
  max-width: 33%;
  height: auto;
  border-radius: 0;
  border-style: groove;
  border-color: transparent;
  margin-bottom: 50px;

  &:has(input:checked) {
    border-color: white;
    border-radius: 10px;
  }

  &:has(input:checked), &:hover {
    /* box-shadow: 1px 0 5px rgba(255,255,255,.3); */
    box-shadow: 0 10px 10px rgba(255,255,255,.3);
    /* box-shadow: 5px 5px 15px white; */
  }
}

.coursesContainer > input#courses-checkbox:checked ~ .courses-Content {
  grid-template-rows: 1fr;
}

.coursesContainer > input#courses-checkbox:checked ~ .detailsTopic > label > span {
  display: inline-block;
  rotate: 90deg;
  transition: all 250ms;
}

.courses-Content {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 250ms ease-in-out;
  & > div {
    overflow: hidden;
  }

}

.overallContainer {
  backdrop-filter: blur(3px); /* Chrome and Opera */
  box-shadow: 5px 5px 15px white;
  background-color: rgb(228 228 228 / 1%);
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  border-style: groove;
  border-color: white;
  display:flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  

  &:has(input:checked) {
    border-color: white;
    border-radius: 10px;
  }

  &:has(input:checked), &:hover {
    /* box-shadow: 1px 0 5px rgba(255,255,255,.3); */
    box-shadow: 0 10px 10px rgba(255,255,255,.3);
    /* box-shadow: 5px 5px 15px white; */
  }
}

.overallContainer > input#overall-checkbox:checked ~ .detailsContent {
  grid-template-rows: 1fr;
}

.overallContainer > input#overall-checkbox:checked ~ .detailsTopic > label > span {
  display: inline-block;
  rotate: 90deg;
  transition: all 250ms;
}

